# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# VS Code settings
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
